.todo-item{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #4d4d4d;
    display: flex;
    border-bottom: 1px solid lightgray;
    list-style: none;

    margin-bottom: 20px;
}
.todo-item i.co{
    position: relative;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.todo-item i.co:hover{
    cursor: pointer;
}

.todo-item-text{
    flex: 1;
    color: red;
}
.todo-item-button {
    display: flex;
    flex: 0;
}

.complete-btn {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: orange;
    color: #4162f6;
    margin: 0.25rem;
    cursor: pointer;
}
.trash-btn {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: darkgrey;
    color: white;
    margin: 0.25rem;
    cursor: pointer;
}


.todo-item-complete {
    text-decoration: line-through;
    opacity: .3;
}