.App {
  background-color: #F5F4F7;
}
.container {
  padding:50px;
  width:380px;
  height: 800px;
  margin: auto;
}

.header{
  width: 380px;
  height:200px;
  background-color:white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.addToDo{
  position: relative;
  width: 360px;
  height:55px;
  background-color:#449069;
  padding: 10px;

}
.addToDo input{
  position: absolute;
  left: 75px;
  height: 55px;
  width: 250px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left:10px;
}

*::placeholder {
  /* modern browser */
  color: white;
}

.addButton{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  border: 1px solid lightyellow;
  background-color: #449069;
  color: white;
  margin: 0.25rem;
  cursor: pointer;
  
}

.addButton.hover{
  opacity: 0.7;
}
.content {
  background-color: #449069;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-style: oblique;
  padding-left: 70px;
  padding-top: 20px;
}

.clear {
  padding-left: 30px;
  padding-top: 20px;
  size: 50px;
}